.contactinput{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 35px 4px 13px;
}
.contactinputSpacing{
    margin: 0 0 25px 0;
}
.head_spacingi{
    margin: 112px 0 96px 0;

    
}