.card_btn{
    border: 1.5px solid black;
    border-radius: 6px;
    color:black;
    background-color: rgba(0, 0, 255, 0.0) ;
    padding: 7px;
    font-weight: 400;
}
.card_btn:hover{
    border: 1.5px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    color:white;
    background-color: rgb(255, 119, 0);
    padding: 7px;
    font-weight: 400;
}