.exclusive{
    /* background-image: linear-gradient(to right,,violet); */
    background-image: linear-gradient(to right, #9F55D5, #7465DB,#1982EC);
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    /* width: 628px; */
}
.exclucive_spacing{
    padding: 0 32px 0 0;
}
.exclucive_img2{
    height: 140px;
}
.exclucive_img{
    height: 100px;
}
.exclucive_btn{
    border: 1.5px solid white;
    border-radius: 6px;
    color:white;
    background-color: rgba(0, 0, 255, 0.0) ;
    padding: 5px 5px;
    font-weight: 400;
}
.exclucive_btn:hover{
    border: 1.5px solid rgba(0, 0, 0, 0.0);
    color:white;
    background-color: rgb(255, 119, 0);
}